@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    padding: 2rem;
    background-color: #013567;
    color: #e1e3e5;
}

section {
    padding: 1rem 1.6rem;
    background-color: #e1e3e5;
}

section h2 {
    margin: 0.6rem 0;
}

section p {
    line-height: 1.8em;
    padding: 0.14rem 0;
}